<form class="ui form" {{action 'createTask' on='submit'}}>
  <div class="field">
    <label>Title</label>
    {{input type="text" name="first-name" placeholder="First Name" value=currTask.title}}
  </div>
  <div class="field">
    <div class="ui checkbox">
      {{input type="checkbox" tabindex="0" checked=currTask.isCompleted}}
      <label>Task Completed?</label>
    </div>
  </div>
  <button class="ui button">Create</button>
</form>
 
