<div class="ui pointing menu">
  {{#link-to "dashboard" class="item"}}
  Dashboard
  {{/link-to}}

  {{#link-to "task" class="item"}}
  Create Tasks
  {{/link-to}}
</div>
<div class="ui segment">
  <p>{{outlet}}</p>
</div>