<div class="ui statistics">
  <div class="statistic">
    <div class="value">
        {{countOfTasks}}
    </div>
    <div class="label">
      Total Tasks
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{countOfCompletedTasks}}
    </div>
    <div class="label">
      Completed
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{countOfPendingTasks}}
    </div>
    <div class="label">
      Pending
    </div>
  </div>
</div>